@import "tailwindcss";

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-radius: 4px;
  min-height: 48px;
  padding: 4px;
}
 
.alert[data-alert-type="warning"] {
  background-color: #fff6e6;
}
 
.alert[data-alert-type="error"] {
  background-color: #ffe6e6;
}
 
.alert[data-alert-type="info"] {
  background-color: #e6ebff;
}
 
.alert[data-alert-type="success"] {
  background-color: #e6ffe6;
}
 
[data-color-scheme="dark"] .alert[data-alert-type="warning"] {
  background-color: #805d20;
}
 
[data-color-scheme="dark"] .alert[data-alert-type="error"] {
  background-color: #802020;
}
 
[data-color-scheme="dark"] .alert[data-alert-type="info"] {
  background-color: #203380;
}
 
[data-color-scheme="dark"] .alert[data-alert-type="success"] {
  background-color: #208020;
}
 
.alert-icon-wrapper {
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  margin-right: 12px;
  height: 18px;
  width: 18px;
  user-select: none;
  cursor: pointer;
}
 
.alert-icon[data-alert-icon-type="warning"] {
  color: #e69819;
}
 
.alert-icon[data-alert-icon-type="error"] {
  color: #d80d0d;
}
 
.alert-icon[data-alert-icon-type="info"] {
  color: #507aff;
}
 
.alert-icon[data-alert-icon-type="success"] {
  color: #0bc10b;
}
 
.inline-content {
  flex-grow: 1;
}
 

.animate span {
  display: inline-block;
  opacity: 0;
  animation-fill-mode: forwards;
}

.one span {
  color: gray;
  transform: translate(-150px, -50px) rotate(-180deg) scale(3);
  animation: revolveScale 0.4s forwards;
}

@keyframes revolveScale {
  60% {
    transform: translate(20px, 20px) rotate(30deg) scale(.3);
  }
  100% {
    transform: translate(0) rotate(0) scale(1);
    opacity: 1;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.spinner {
  /* ... */
  opacity: 0;
  animation:
    fadeIn 500ms 100ms forwards,
    rotate 1s linear infinite;
}

  @keyframes slideInFromLeft {
    0% {
      transform: translateY(10);
      opacity: 0;
      color: oklch(40% 0 0);
    }
    100% {
      transform:translateY(0);
      opacity: 20;
      color: oklch(30% 0 0);

    }
  }

  .labelAnimate{
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }